asgiref==3.7.2
certifi==2022.12.7
charset-normalizer==2.1.1
distlib==0.3.6
Django==4.2.2
django-grappelli==3.0.6
filelock==3.9.0
idna==3.4
peewee==3.15.4
Pillow==10.0.0
pipenv==2023.6.18
platformdirs==2.6.2
pydantic==1.10.2
pyTelegramBotAPI==4.9.0
python-dotenv==0.21.0
requests==2.28.1
sqlparse==0.4.4
typing_extensions==4.4.0
tzdata==2023.3
urllib3==1.26.13
virtualenv==20.17.1
virtualenv-clone==0.5.7
