{% extends 'shopapp/base.html' %}

{% block title %}
  Create product
{% endblock %}


{% block body %}
    <h1> Create a new product</h1>

    <div>
        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}
            {% if perms.product.add_product %}
                <button type="submit">
                Create product
                </button>
            {% else %}
                <div>You have not permissions to create product.</div>
            {% endif %}

        </form>
    </div>

{% endblock %}