{% extends 'shopapp/base.html' %}

{% block title %}
    Order # {{ object.pk }} details
{% endblock %}


{% block body %}
    <h1>Order # {{ object.pk }} </h1>

   <div>
     <p>Order by {% firstof order.user.first_name order.user.username %} </p>
     <p>Promocode: <code>{{ order.promocode }}</code></p>
     <p>Delivery adress: {{ order.delivery_adress }}</p>
     <div>
         Product in order:
         <ul>
             {% for product in order.products.all %}
                <li>{{ product.name }} for $ {{ product.price }}</li>
             {% endfor %}

         </ul>
     </div>
   </div>
    <div>
       <a href ="{% url 'shopapp:order_update' pk=product.pk %}">Update order</a>
    </div>
    <div>
       <a href ="{% url 'shopapp:order_delete' pk=product.pk %}">Delete order</a>
    </div>
   <div>
       <a href="{% url 'shopapp:orders_list' %}">Back to order</a>
   </div>
{% endblock %}